@import './responsive.scss';

.layout-column {
  display: flex;
  flex-direction: column;
}

.layout-row-center {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint(sm) {
    flex-direction: row;
  }
}