@import '../styles/color.scss';

.Footer {
  background-color: $bg-color;
  color: $primary-color;
  padding: 25px;
  text-align: center;

  .Footer-description {
    font-family: 'Gugi', cursive;
    font-size: 1.2em;
  }
}